*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #cfcfcf;
}

body {
    height: 100vh;
    background-color: #404040;
    display: flex;
    flex-flow: column nowrap;

}

.calc {
    flex: 20;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.calcBody {
    display: flex;
    flex-flow: column;
    gap: 4px;
    padding: 20px;
    background-color: #303030;
    border-radius: 15px;
}


.displaybox {
    background-color: #606060;
    border: 5px solid #202020;
    border-radius: 10px;
    min-height: 150px;
    max-width: 412px;
    padding: 20px;
    font-size: 30px; 
    font-family: 'Orbitron';
    overflow-wrap: break-word;
}

.buttons > button {
    flex: 1 0 100px;
    width: 100px;
    height: 100px;
    background-color:#707070;
    font-size: 40px;
    border-radius: 5px;
    font-family: 'Orbitron';
    border: 1px #202020 solid;
}

.buttonClicked {
    transform: scale(1.050);
    transition: all 0.1s;
    border-color:#404040;
}

#equals {
    width: 204px;
}

#ac {
    background-color: #505050;
}

footer {
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
    gap: 20px;
    font-size: 25px;
    font-family: Tahoma, sans-serif;
}

.githubHover {
    transform: scale(1.1);
}
